body{
    background-image: url("fractal-bacteria.jpg");
    
}

h1{color: #FFFFFF;
background: #ece9e9;
background-color: beige;
text-shadow: 3px 5px 2px #474747;

}

.jumbotron{
    background-color: beige;
}

.col-md-5{
    float:left;
}

.col-md-12 {
display: inline-block;
}
