h1{
    color:black;
    background-image: url("/../images/germs.jpg");
    background-size: cover;
    color:palevioletred;
    background-repeat: no-repeat;
    padding:150px;
    margin-top: 15px;
    margin-bottom: 20px;
    height:40px;
}

